.questions{
	padding: 25px;
	padding-right: 50px;
	background-color: #166069;
	color: #fff;
}

.station{
	margin-top: 25px;
	padding-left: 15px;
}

.station_pic{
	width: 45px;
	height: auto;
	margin-right: 10px;
}

.it{
	font-style: italic;
}

h2{
}

.space{
	display: block;
	margin-top: 10px;
}

.bold{
	font-weight: bold;
}

.column_left li{
	margin-bottom: 7px;
}